@tailwind base;
@tailwind components;
@tailwind utilities;


.intro-background{
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5) ), url('./img/5.jpg'); 
    background-position: top 60% left 50%; 
    background-size: cover; 
    background-repeat: no-repeat;
}